@charset "UTF-8";
body#fondo{
	background-color: burlywood;
}
h1#titulo{
	color: maroon;
	text-align: center;
	font-family: arial;
}
article.cafe{
	text-align: center;
}
article.contacto{
	text-align: right;
}
